@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: cabin;
}
html,
body{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.main{
    height: 100%;
    width: 100%;
    background-color: rgb(11, 11, 11);
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(13, 13, 13);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    /* margin-top: 300px; */
    
}
#page1 h1{
    font-size: 8.5vw;
    font-weight: 900;
    line-height: 7.5vw;
  /*👉  position: relative;
    z-index: 999;👈*/
  
  
   
}
#page1 h1 img{
    background-color:#0DA34E;
   height: 5vw;
   width: 5vw;
   border-radius: 50%;
   font-size: 8vw; 
   /* position: absolute; */
   /* position: relative; */
   /* position: relative; */
   /* z-index: 1; */
  
  
}


#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 5vh;


}
.page1-box{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.page1-box h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 2px solid rgba(255, 255, 255, 0.418);
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s all;
}
.page1-box h4:nth-last-child(2){
    border: none;
}
.page1-box h4:hover{
    border: 2px solid #0DA34E;
}
.page1-box h4:hover:nth-last-child(2){
    border: none;
    cursor:auto;
}

.page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(13, 13, 13);
}


nav{
    position: fixed;
    /* background-color: rgb(0, 247, 255); */
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 2vw 10.5vw;
    justify-content: space-between;
    font-family: cabin;
    height: 12vh;
    background-color: #111;
    z-index: 9;
}
.nav-part2{
    display: flex;
    gap:2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}
.nav-part2 h4{
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2.6vw;
}
.nav-part2 h5{
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    position: relative;
    z-index: 10;
}
.nav-part2 h5 span{
    font-size: 0.75vw;
    font-weight: 400;
    display: inline-block;
    position: relative;
    /* z-index: 1; */

}
.nav-bottom{
    width: 79%;
  
    position: absolute;
    /* background-color: red; */
   top:100%;
   height: 0vh;
   /* z-index: 9; */
   border-bottom: 1px solid white;
   background-color: #111;


}
/*👉#page1 .moving-div .move img{
    width: 200px;
    height: 200px;
}👈*/








nav button{
    background-color: #0DA34E;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 0.7vw;
    font-weight: 500;
    text-transform: uppercase;
}
nav button img{
    height: 1.3vw;
    padding-left: 10px;
    
    
}

.moving-div{
    /* background-color: red; */
    margin-top: 10vh;
    position: absolute;
    bottom: -3%;
    /* display: flex; */
    width: 44%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;

}
.moving-div .move {
    /* height: 2vw; */
    display: inline-block;
    animation-name: animation1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    
}

@keyframes animation1{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
    
}

 .moving-div .move img{
    /* width: 90px; */
    height: 4vw;
    margin: 0 1.2vw;
}
.blur-left{
    height: 50%;
    width: 20%;
    /* background-color: red; */
    background: linear-gradient(to left, transparent, #111);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.blur-right{
    height: 50%;
    width: 20%;
    /* background-color: red; */
    background: linear-gradient(to right, transparent, #111);

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}